<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title> And new standard task (question) </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/alltasks.css">

</head>

<body>
<div>

    <!-- HEADER - NAVBAR -->
    <div th:replace="fragments/topnavbar :: navbar">
    </div>

    <div class="container">

        <!-- Modal To Display Different Messages -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body" style="text-align:center">
                        <h3><strong>Task was successfully modified</strong></h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h1>
                <strong>Add New Standard Task</strong>
            </h1>
        </div>
        <hr>

        <form>
            <div class="form-row row">
                <label class="col-md-1 col-form-label" for="title">Title</label>
                <div class="col-md-4">
                    <input id="title" class="form-control" type="text" placeholder="Task Title">
                </div>
            </div>
            <br/>

            <!-- DROPDOWN COMPLEXITIES -->
            <div class="form-row row">
                <label class="col-md-1 col-form-label" for="complexity">Complexity</label>
                <div class="col-md-4">
                    <select id="complexity" class="form-control">
                        <!--                        <option value="0" disabled style="display:none">Select complexity...</option>-->
                        <option th:each="complexityEnum : ${complexities}" th:value="${complexityEnum}"
                                th:text="${complexityEnum.getComplexity()}"></option>
                    </select>
                </div>
            </div>
            <br/>

            <!-- DROPDOWN TASK_TYPES -->
            <div class="form-row row">
                <label class="col-md-1 col-form-label" for="taskType">Task type</label>
                <div class="col-md-4">
                    <select id="taskType" class="form-control">
                        <!--                        <option value="0" selected disabled style="display: none">Select task type...</option>-->
                        <option th:each="typeEnum : ${task_types}" th:value="${typeEnum}"
                                th:text="${typeEnum.getType()}"></option>
                    </select>
                </div>
            </div>
            <br/>

            <div class="form-row row">
                <label class="col-md-1 col-form-label" for="descripiton">Description</label>
                <div class="col-md-11">
                    <textarea id="descripiton" class="form-control" type="text"
                              placeholder="Task Desciption"></textarea>
                </div>
            </div>
            <br/>
            <hr>

            <div class="form-row row">
                <!-- DROPDOWN DISCIPLINES -->
                <div>
                    <label class="col-md-1 col-form-label" for="disciplines">Discipline: </label>
                    <div class="col-md-3">
                        <select id="disciplines" class="form-control">
                            <option value="0" selected disabled style="display: none">Select discipline...</option>
                            <option th:each="DisciplineListDTO : ${disciplines}" th:value="${DisciplineListDTO.getId()}"
                                    th:text="${DisciplineListDTO.getName()}"></option>
                        </select>
                    </div>
                </div>

                <!-- DROPDOWN STREAMS -->
                <div>
                    <label class="col-md-1 col-form-label" for="streams">Stream:</label>
                    <div class="col-md-3">
                        <select id="streams" class="form-control">
                            <option th:each="StreamDTO : ${streams}" th:value="${StreamDTO.getId()}"
                                    th:text="${StreamDTO.getName()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="addDiscStream" type="submit" class="btn btn-primary">Add</button>
                </div>
                <br/>
            </div>

            <br/>
            <div class="form-row row">
                <h5 class="alert alert-info">
                    <strong>Info!</strong> There are the following Disciplines and Streams attaches to this task:
                </h5>
            </div>

            <div class="form-row row">
                <table id="disc_streams_selected">
                    <thead>
                    <tr>
                        <th> Discipline</th>
                        <th> Stream</th>
                        <th> Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <br/>
            <hr>

            <div class="form-row row">
                <div class="alert alert-danger">
                    <strong>Attention!</strong> Disabled task will not appear in test cases!
                </div>
            </div>
            <div class="form-row row">
                <label class="col-form-label" style="margin-right: 10px">Enable Task</label>
                <input type="checkbox" id="isEnabled" name="activate">
            </div>
            <br/>
            <hr>

            <!-- ANSWER OPTIONS -->
            <div class="form-row row">
                <h5 class="alert alert-warning">
                    <strong>Warning!</strong> Specify answer(s) based on the type of question. Mark the correct answer.
                    <p>* for the types "Multi Choice" and "Single Choice" should be at least 2 answer options</p>
                </h5>
            </div>

            <!-- SPECIFY AND ADD NEW ANSWER, MARK AS CORRECT/INCORRECT -->
            <div id="divAnswerOptions" class="form-row row">
                <label class="col-md-1 col-form-label">Answer:</label>
                <div class="col-md-4">
                    <textarea id="answer" class="form-control" type="text" placeholder="Text of answer"></textarea>
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="isCorrect" name="activate">
                    <label class="col-form-label">Is Correct</label>
                </div>
                <div class="col-md-2">
                    <button id="addAnswerOption" type="submit" class="btn btn-primary">Add Answer</button>
                </div>
                <br/>
            </div>
            <div class="form-row row">
                <h5 class="alert alert-info">
                    <strong>Info!</strong> Answer options specified to the task:
                </h5>
            </div>
            <div class="form-row row">
                <table id="answerOptions">
                    <thead>
                    <tr>
                        <th> Answer</th>
                        <th> Is Correct</th>
                        <th> Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <br/>

            <hr>
            <div class="form-row row" style="margin-bottom: 100px">
                <button id="addTask" type="submit" class="btn btn-primary">Create</button>
            </div>

        </form>
    </div>
</div>

<script>

    $(document).ready();

    function showPopUp(title, message){
        $("#myModal").find('h4').text(title);
        $("#myModal").find('h3').text(message);
        $("#myModal").modal('show');
    }

    $("#addTask").on("click", function (event) {
        event.preventDefault();

        // get selected task_type
        let elTaskType = document.getElementById("taskType");
        let selectedTaskType = elTaskType.options[elTaskType.selectedIndex].text;

        if (checkAnswerOptions() > 1 && selectedTaskType == "Single Choice") {
            showPopUp('Error in Single Choice question', 'For Single Choice question should be only 1 correct answer. Please verify.');
        } else if (checkAnswerOptions() == 0 && selectedTaskType == "Single Choice") {
            showPopUp('Error in Single Choice question', 'Please specify correct answer for Single Choice type question.');
        } else if (checkAnswerOptions() == 0 && selectedTaskType == "Multi Choice") {
            showPopUp('Error in Multi Choice question', 'There should be at least one correct answer for Multi Choice question.');
        } else {
            $.ajax({
                method: "POST",
                url: "/tasksrest/addTask",
                data: JSON.stringify(prepareData()),
                contentType: "application/json",
                success: function () {
                    location.href = "/tasks/";
                }
            })
        }
    });

    // Function to check if there is already exists selected combination Discipline-Stream
    function checkDiscAndStreams(discText, streamText) {
        let result = true;
        $('#disc_streams_selected').find('tbody').find('tr').each(function (i, el) {
            let currentDiscRow = $(this).find('td').eq(0).text();       //discipline text
            let currentStreamRow = $(this).find('td').eq(1).text();     //stream text
            if (currentDiscRow === discText && currentStreamRow === streamText) {
                result = false;
                return false;
            }
        });

        return result;
    }

    //returns collection of selected stream IDs
    function getStreamIds() {
        let listStreamIds = new Array();
        $('#disc_streams_selected').find('tbody').find('tr').each(function (i, el) {
            let currentStreamId = $(this).find('input[type="hidden"]').eq(1).val();
            listStreamIds.push(currentStreamId.valueOf());
        });
        return listStreamIds;
    }

    // to add on view a new combination of Discipline-Stream
    $("#addDiscStream").on("click", function (event) {
        event.preventDefault();

        // get data of the currently selected discipline in the dropdown
        let elDisc = document.getElementById("disciplines");
        let selectedDiscipline = elDisc.options[elDisc.selectedIndex].text;
        let selectedDisciplineId = elDisc.options[elDisc.selectedIndex].value;

        // get data of the currently selected stream in the dropdown
        let elStream = document.getElementById("streams");
        let selectedStream = elStream.options[elStream.selectedIndex].text;
        let selectedStreamId = elStream.options[elStream.selectedIndex].value;

        // If there are no already such combination of Discipline-Stream, then add to the view
        if (checkDiscAndStreams(selectedDiscipline, selectedStream) && selectedDisciplineId != '0') {
            let tbody = $("#disc_streams_selected tbody").html();
            tbody += "<tr>";
            tbody += "<input type='hidden' value =" + selectedDisciplineId + ">";
            tbody += "<input type='hidden' value =" + selectedStreamId + ">";
            tbody += "<td>" + selectedDiscipline + "</td>";
            tbody += "<td>" + selectedStream + "</td>";
            tbody += "<td>" + "<button class='removeDiscStream'> Remove </button>" + "</td>";
            tbody += "</tr>";
            $("#disc_streams_selected tbody").html(tbody);
        }
    });

    $("#addAnswerOption").on("click", function (event) {
        event.preventDefault();

        // get the current answer option text
        let selectedAnswer = $("#answer").val();

        if (!selectedAnswer) {
            showPopUp("Empty field", "Answer is empty. Please specify the answer.")
        } else {
            // get true-false isCorrect value
            let selIsCorrect;
            let answerIsCorrect = document.getElementById("isCorrect");
            if (answerIsCorrect.checked === true) {
                selIsCorrect = true;
            } else {
                selIsCorrect = false;
            }

            let tbody = $("#answerOptions tbody").html();
            tbody += "<tr>";
            tbody += "<td>" + selectedAnswer + "</td>";
            tbody += "<td>" + selIsCorrect + "</td>";
            tbody += "<td>" + "<button class='removeAnswerOption'> Remove </button>" + "</td>";
            tbody += "</tr>";
            $("#answerOptions tbody").html(tbody);

            //reset text input for answer and flag isCorrect
            $("#answer").val("");
            $("#isCorrect").prop("checked", false);
        }
    });

    //returns streams based on the discipline name provided
    function getStreamsByDiscipline(discname) {
        $.ajax({
            method: "GET",
            url: "/streamView/streams/discipline/" + discname,      //TODO: recheck
            //new url: RECHECK it!!!
            success: function (response) {
                populateStreamsDropdown(response);
            }
        });
    }

    //populate stream dropdown based on the data provided (filtered by discipline)
    function populateStreamsDropdown(data) {
        let tbody = $("#streams").html();
        tbody = "";

        for (let i = 0; i < data.length; i++) {
            tbody += "<option value=" + data[i].id + ">";
            tbody += data[i].name;
            tbody += "</option>";
        }
        $("#streams").html(tbody);
    }

    //returns a list of streams
    //according to the discipline specified in the dropdown
    $("#disciplines").change(function (event) {
        event.preventDefault();

        //get selected discipline text
        let elDisc = document.getElementById("disciplines");
        let selectedDiscipline = elDisc.options[elDisc.selectedIndex].text;
        let result = new Array();

        //get streams by discipline name and populate streams dropdown
        getStreamsByDiscipline(selectedDiscipline);
    });

    //Enabled or disable button Add Answer based on the Task_Type selected
    $("#taskType").change(function (event) {
        event.preventDefault();

        //disable button "Add Answer Option" if task type != MultiChoice OR Single_Choice
        // get selected task_type
        let elTaskType = document.getElementById("taskType");
        let selectedTaskType = elTaskType.options[elTaskType.selectedIndex].text;
        if (selectedTaskType == "Single Choice" || selectedTaskType == "Multi Choice") {
            $("#addAnswerOption").prop('disabled', false);
        } else {
            $("#addAnswerOption").prop('disabled', true);
            $("#answerOptions > tbody").html("");    //clear table with answer options
        }
    });

    // Remove the respective row from the table with "Disciplines-Streams"
    $("#disc_streams_selected").on('click', '.removeDiscStream', function x() {
        $(this).closest('tr').remove();
    });

    // Remove the respective row from the table with "Answer Options"
    $("#answerOptions").on('click', '.removeAnswerOption', function x() {
        $(this).closest('tr').remove();
    });

    function checkAnswerOptions() {
        let trues = [];
        $("#answerOptions > tbody > tr > td").each(function (i, el) {
            let value = $(this).text();
            trues.push(value.valueOf());
        })
        let counter = 0;
        trues.forEach(function (item) {
            if (item == "true") {
                counter = counter + 1;
            }
        })
        return counter;
    }

    function readAnswerOptions() {
        //collection of objects with fields "name" and "isCorrect"
        //as specified in AnswerOptionDTO
        let answersList = [];
        $('#answerOptions').find('tbody').find('tr').each(function (i, el) {
            let answerDto = {
                answer: $(this).find('td').eq(0).text(),
                isCorrect: $(this).find('td').eq(1).text()
            }
            answersList.push(answerDto);
        });
        return answersList;
    }

    function prepareData() {
        let tskType = $("#taskType").val();

        let listAnswers = [];
        listAnswers = readAnswerOptions();

        let listStreams = getStreamIds();
        let listStreamIntegers = listStreams.map(v => parseInt(v, 10));
        let sel;
        let checkBox = document.getElementById("isEnabled");
        if (checkBox.checked === true) {
            sel = true;
        } else {
            sel = false;
        }

        if ($("#title").val() == "") {
            showPopUp('No title', 'Title is empty! Please specify');
        } else if ($("#descripiton").val() == "") {
            showPopUp('No Description', 'Description is empty! Please specify');
        } else if ($("#complexity").val() == '0') {
            showPopUp('No Complexity', 'Complexity field is empty! Please specify');
        } else if ($("#taskType").val() == "0") {
            showPopUp('No Task Type', 'Please specify type of the task.');
        } else if (listStreams.length == 0) {
            showPopUp('No streams', 'Please specify at least one discipline and stream.');
        } else if (listAnswers.length < 2 && (tskType == "MULTI_CHOICE" || tskType == "SINGLE_CHOICE")) {
            showPopUp('No enough answers', 'For type "Single Choice" or "Multi Choice" please specify at least 2 answer options.');
        } else {
            return {
                title: $("#title").val(),
                description: $("#descripiton").val(),
                taskType: $("#taskType").val(),
                complexity: $("#complexity").val(),
                isEnabled: sel,
                streams: listStreamIntegers,
                answers: listAnswers
            }
        }
    }

</script>
<script src="/js/navbar.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>

