<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>List of tasks in the system</title>

    <link type="text/css" rel="stylesheet" href="/css/alltasks.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>

<body>

    <div>

        <!-- HEADER - NAVBAR -->
        <div class="cutomnav">
            <button href="">Users</button>
            <button href="">Disciplines</button>
            <button id="goStreams">Streams</button>
            <button id="goTasks" href="">Tasks</button>
        </div>
        <hr>

        <p> <b> List of Tasks </b> </p>
            <button id="addTask">Add Task</button>
        <p>

        <table id="tasks" class="fixed_header">
            <thead>
            <tr>
                <th> Nr</th>
                <th> Title</th>
                <th> Type</th>
                <th> Complexity</th>
                <th> Is Enabled</th>
                <th> View </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>



    <script>
        $(document).ready(getAllTasks());

        //returns response with all tasks
        function getAllTasks() {
            $.ajax({
                method: "GET",
                url: "/tasksrest/all",
                success: function (response) {
                    fillTasks(response);
                }
            });
        }

        // dynamically fill in table with tasks
        function fillTasks(data) {
            let tbody = "";
            for (let i = 0; i < data.length; i++) {
                tbody += "<tr>";
                tbody += "<input type='hidden' value=' + data[i].id'>";
                tbody += "<td>" + (i+1) + "</td>";
                tbody += "<td>" + data[i].title + "</td>";
                tbody += "<td>" + data[i].type + "</td>";
                tbody += "<td>" + data[i].complexity + "</td>";
                tbody += "<td>" + data[i].isEnabled + "</td>";
                tbody += "<td>" + "<button class='viewTask'> View </button>" + "</td>";
                tbody += "<td>" + "<button class='editTask'> Edit </button>" + "</td>";
                tbody += "<td>" + "<button class='deleteTask'> Delete </button>" + "</td>";
                tbody += "</tr>";
            }
            $("#tasks tbody").html(tbody);
        }

        $("#addTask").on("click", function (event) {
            window.location.href = "addTask";
        });

        $("#goTasks").on("click", function (event) {
            window.location.href = "/tasks/";
        });

        $("#goStreams").on("click", function (event) {
            window.location.href = "/streamView";
        });

    </script>
</body>
</html>

