<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <script th:src="@{/js/config.js}"></script>
</head>
<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:if="${#request.isUserInRole('SUPER_ADMIN')} or ${#request.isUserInRole('ADMIN')}">
        <nav class="navbar navbar-default">
            <div class="cutomnav nav container-fluid">
                <ul class="nav navbar-nav">
                    <li><a id="goHome">Home</a></li>
                    <li><a id="goUsers">Users</a></li>
                    <li><a id="goDisciplines">Disciplines</a></li>
                    <li><a id="goStreams">Streams</a></li>
                    <li><a id="goTasks">Tasks</a></li>
                    <li><a id="goSkills">Skills</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <button id="goSwagger" type="button" class="btn btn-success btn-xs" style="display: block">Swagger</button>
                        </a>
                    </li>
                    <li>
                        <a id="goProfile"><b th:inline="text" class="user">[[${#httpServletRequest.remoteUser}]]</b></a>
                    </li>
                    <li>
                        <a id="goLogout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</html>
