<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add New User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <form>
        <label for="username">Name:</label>
        <input required="required" type="text" id="username"/>

        <label for="email">Surname:</label>
        <input required="required" type="text" id="email"/>

        <button id="addUser">Add</button>
    </form>
    <script src="/js/users.js"></script>
</body>
</html>