<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add New User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div th:replace="fragments/topnavbar :: navbar">
    </div>
    <form>
        <form>
            <label for="username">Username:</label>
            <input required="required" type="text" id="username"/>
        </form>

        <form>
            <label for="email">Email:</label>
            <input required="required" type="text" id="email"/>
        </form>

        <button id="addUser">Add</button>
    </form>
    <script src="/js/users.js"></script>
    <script src="/js/navbar.js"></script>
</body>
</html>