<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Users</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="/css/user.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
    <body>
            <div th:replace="fragments/topnavbar :: navbar">
            </div>
            <div class="container">
                <div>
                    <div>
                        <div class="view-users-div">
                            <div th:if="${param.added}"><div class='alert alert-success' role='alert'><p>User has been successfully added</p></div></div>
                            <div id="successMessage"></div>
                            <h2>System Users</h2>
                            <p id="usersInfoParagraph">Here are all the users displayed in the tables below. To view a specific user's details just click the needed <i>username</i></p>
                            <button th:if="${#request.isUserInRole('SUPER_ADMIN')}" id="addNewUser" class="btn btn-default">Add new user</button>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table id="usersTableEnabled" class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Enabled</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <table id="usersTableDisabled" class="table table-striped col-md-6">
                                            <thead>
                                            <tr>
                                                <th>Disabled</th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="view-single-user-div">
                            <h2>View User Mode</h2>
                            <table id="singleUserTable" class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>e-mail</th>
                                    <th>Is active</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr></tr>
                                <span id="edit-user-button" th:if="${#request.isUserInRole('SUPER_ADMIN')}"><button id='edit-user' class="btn btn-default">Edit User</button></span>
                                <span id="enable-disable-user-button" th:if="${#request.isUserInRole('SUPER_ADMIN')}"></span>
                                </tbody>
                            </table>
                        </div>

                        <div class="edit-user-div">
                            <div id="editUserMessage"></div>
                            <h2>Edit User Mode</h2>
                            <p>Hit the field you want to edit</p>
                            <table id="editUser" class="table">
                                <thead>
                                <tr>
                                    <th hidden>id</th>
                                <tbody></tbody>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/users.js"></script>
            <script src="/js/navbar.js"></script>
    </body>
</html>
