<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <div th:if="${#request.isUserInRole('SUPER_ADMIN')} or ${#request.isUserInRole('ADMIN')}">
            <div class="cutomnav">
                <button id="goUsers">Users</button>
                <button id="goDisciplines">Disciplines</button>
                <button id="goStreams">Streams</button>
                <button id="goTasks">Tasks</button>
            </div>
            <hr>
            <div>
                <form method="post" th:action="@{/logout}">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>

        <script>
            $("#goStreams").on("click", function (event) {
                window.location.href = "/streamView";
            });

            $("#goUsers").on("click", function (event) {
                window.location.href = "/userView/";
            });
            $("#goTasks").on("click", function (event) {
                window.location.href = "/tasks/";
            });
        </script>
    </body>
</html>
