<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Streams</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/streams.js"></script>
    <script src="js/streamAdd.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/stream.css">
</head>
<body>
<div th:if="${#request.isUserInRole('SUPER_ADMIN')} or ${#request.isUserInRole('ADMIN')}" id="stream-div">
    <div class="cutomnav">
        <button id="goUsers">Users</button>
        <button id="goDisciplines">Disciplines</button>
        <button id="goStreams">Streams</button>
        <button id="goTasks">Tasks</button>
    </div>
    <hr>
    <div>
        <form method="post" th:action="@{/logout}">
            <button type="submit">Logout</button>
        </form>
    </div>
</div>


<div>
    <table id="streamsTable">
        <thead>
        <tr>
            <th>Stream</th>
            <th>Discipline</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>

    <label for="name-input"></label>
    <input type="text" name="name-input" id="name-input"/>
    <button onclick="findIdByName($('#name-input').val())"
            class="btn">Find stream
    </button>

    <button type="button" class="btn" onclick="getAllStreams()">View All Streams</button>
    <button type="button" class="btn" data-toggle="modal" data-target="#streamAddModal"
            id="btn call-mdl-add" onclick="getAllDisciplines()">Add
    </button>
</div>

<div class="container">
    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Stream</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="stream-input">
                            Name:
                        </label>
                        <input type="text" id="stream-input"/>
                        <label for="editDisciplines">Disciplines:</label>
                        <select id="editDisciplines">
                        </select>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-lg" onclick="edit(flagIdStream)" data-dismiss="modal">
                        Update Stream
                    </button>
                    <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container">
    <div class="modal fade" id="streamAddModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Stream</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <label for="name">Name:</label>
                        <input type="text" id="name"/>

                        <label for="disciplines">Disciplines:</label>
                        <select id="disciplines">
                        </select>

                    </form>
                </div>
                <div class="modal-footer">
                    <button id="addStream" class="btn btn-info btn-lg"
                            onclick="addStream()" data-dismiss="modal">
                        Add
                    </button>
                    <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $("#goStreams").on("click", function (event) {
        window.location.href = "streamView";
    });
    $("#goUsers").on("click", function (event) {
        window.location.href = "/userView/";
    });
    $("#goTasks").on("click", function (event) {
        window.location.href = "/tasks/";
    });
</script>
</body>
</html>